name: tests

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.1, 8.2, 8.3]
        laravel: [10.*, 11.*, 12.*]
        dependency-version: [prefer-stable]
        include:
        - laravel: 10.*
          testbench: 8.*
          carbon: ^2.63

        - laravel: 11.*
          testbench: ^9.2
          carbon: ^3.0

        - laravel: 12.*
          testbench: ^10.0
          carbon: ^3.0


        exclude:
        # Laravel 10 supports PHP 8.1 only (per your policy)
        - php: 8.2
          laravel: 10.*
        - php: 8.3
          laravel: 10.*

        # Laravel 11 supports PHP 8.2+
        - php: 8.1
          laravel: 11.*

        # Laravel 12 supports PHP 8.3 only
        - php: 8.1
          laravel: 12.*
        - php: 8.2
          laravel: 12.*


    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "nesbot/carbon:${{ matrix.carbon }}" --no-interaction --no-update --dev
          composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --with-all-dependencies

      - name: Execute tests
        run: vendor/bin/phpunit
